@charset "utf-8";

@import 'partial/utils';

@import 'partial/normalize';
@import 'partial/base';

@import 'partial/header';
@import 'partial/home-post-list';
@import 'partial/archive-post-list';
@import 'partial/post';
@import 'partial/footer';
@import 'partial/copyright';
@import 'partial/mq';

/*
 * this use google fonts CDN
// default font
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto.woff2') format('woff2'),
    url('../font/Roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

// code font
@font-face {
  font-family: 'RobotoMono';
  src: url('../font/RobotoMono.woff2') format('woff2'),
    url('../font/RobotoMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
