extends partial/layout.pug

//- Main
block container
    include mixins/post.pug
    +posts()

//- Footer
block pagination
    include mixins/paginator.pug
    +home()

block social
    include partial/social.pug

block copyright
    include partial/copyright.pug
