.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/hehehai/hexo-theme-void";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p.
        © #{year} #[a(href=config.url)!= config.author] | Powered By #[a(href=hexoURL, target="_blank") Hexo] | Hexo theme #[a(href=apolloURL, target="_blank") void].