footer {
  padding-bottom: 1px;
  .copyright {
    margin: 2em 0 5em;
    p,
    a {
      font-weight: 500;
      color: #bfbfbf;
      font-size: 1.3rem;
    }
    a:hover {
      color: #383838;
    }
  }
}
