// Color
$white: #ffffff;
$black: #05070c;

$dark: #262626;

$primary: #00f5f9;
$assist: #ff1e46;

// Font
$font-main-size: 10px;
$font-base-size: 1.5rem;
$font-main: 'Roboto', 'Microsoft YaHei', sans-serif;
$font-code: 'Roboto Mono', Menlo, 'Microsoft YaHei', monospace;
$line-height: 1.8;
