.paginator {
  margin: 4em 0 3em;

  .prev,
  .next {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    color: $dark;
  }
}

#disqus_thread
#gitalk_container {
  margin-bottom: 4em;
}
